/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

/* Layout */
header, main, footer {
  max-width: 1000px;
  border: 1px solid #bbb;
  padding: 1rem;
  margin-left: 18rem;
}

header {
  display: grid;
  grid-template-columns: auto auto;
  background-color: rgb(100, 100, 243);
  color: white;
  position: relative;
}

.nav-bar-container {
  display: none; /* Hidden by default for mobile */
  padding-top: 10px;
}

.nav-bar-container li {
    list-style-type: none;
  }

  .nav-bar-container a {
    color: #fff;
    text-decoration: none;
  }

  h1 {
    font-size: 1.5rem;
    margin: 4px 0;
    padding: 10px 0;
  }


.hamburger {
  display: block;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
}


/* Main Album */
.main-album-container {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1rem;
}

.album-container {
  display: grid;
  grid-template-columns: 1fr;
}

figure {
  text-align: center;
}

figcaption {
  margin-top: 0.25rem;
  font-weight: bold;
}

/* Footer */
footer {
  background-color: rgb(100, 100, 243);
  color: white;
  text-align: center;
  padding: 1rem;
}

span {
  font-size: 0.9rem;
}
