@media screen and (min-width: 768px) {

  /* Show nav as flex and hamburger hidden */
  .hamburger {
    display: none;
  }

  .nav-bar-container {
    display: flex;
    justify-content: space-around;
  }

  
  .main-album-container  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .album-container {
    display: flex;
    flex-direction: column;
  }

  figure {
    display: block;
    text-align: center;
    padding: 0.5rem;
  }
}
